Repository Artur92233/GraduationProjectGroup2, pull requests merged in 2025-07, with the labels that each got.

#50 Buildings
  backend_api/app/applications/new_buildings/crud.py
  backend_api/app/applications/new_buildings/router.py
  backend_api/app/applications/new_buildings/schemas.py
  frontend/app/backend_api_in_frontend/api.py
  frontend/app/routers/router.py
  frontend/app/templates/components/navbar.html
  frontend/app/templates/new_buildings.html
  frontend/app/templates/rent.html
  frontend/app/templates/second_owner.html
Labels: enhancement, fastapi, endpoints, users, basemodel, CodeStyle, frontend, backend, css, new buildings

#52 Selected 1
  backend_api/app/app_factory.py
  backend_api/app/applications/new_buildings/crud.py
  backend_api/app/applications/new_buildings/models.py
  backend_api/app/applications/new_buildings/router.py
  backend_api/app/applications/new_buildings/schemas.py
  backend_api/app/migrations/env.py
  backend_api/app/migrations/versions/2025_07_02_1916-c3daa786b71e_selected.py
Labels: fastapi, backend, new buildings, python

#54 small-fix-frontend-register
  frontend/app/templates/register.html
Labels: users, frontend

#55 fix-selected
  backend_api/app/applications/new_buildings/schemas.py
Labels: backend, new buildings

#59 Added details for rent and second owner
  frontend/app/routers/router.py
  frontend/app/templates/rent.html
  frontend/app/templates/rent_detail.html
  frontend/app/templates/second_owner.html
  frontend/app/templates/second_owner_detail.html
Labels: frontend

#60 Fix error
  backend_api/app/applications/new_buildings/schemas.py
  frontend/app/backend_api_in_frontend/api.py
  frontend/app/routers/router.py
  frontend/app/services/s3/s3_frontend.py
  frontend/app/settings.py
  frontend/app/static/css/style.css
  frontend/app/templates/components/navbar.html
  frontend/app/templates/rent.html
  frontend/app/templates/second_owner.html
  frontend/app/templates/sell_buildings.html
  frontend/poetry.lock
  frontend/pyproject.toml
Labels: css
