Repository Artur92233/GraduationProjectGroup2, pull requests merged in 2025-06, with the labels that each got.

#23 Personal account registration
  Makefile
  backend_api/app/alembic.ini
  backend_api/app/applications/auth/security.py
  backend_api/app/applications/users/crud.py
  backend_api/app/applications/users/router.py
  backend_api/app/applications/users/schemas.py
  backend_api/poetry.lock
  docker-compose.yaml
  frontend/app/app_factory.py
  frontend/app/backend_api/api.py
  frontend/app/routers/router.py
  frontend/app/settings.py
  frontend/app/templates/components/base.html
  frontend/app/templates/components/login_comp.html
  frontend/app/templates/components/main_page.html
  frontend/app/templates/components/navbar.html
  frontend/app/templates/login.html
  frontend/app/templates/personal_account.html
  frontend/app/templates/register.html
  frontend/index.html
  nginx/nginx.conf
Labels: frontend, backend

#25 LG 1: Codestyle
  .env-example
  backend_api/poetry.lock
  backend_api/pyproject.toml
  frontend/app/routers/router.py
  frontend/app/templates/components/navbar.html
  frontend/app/templates/index.html
  frontend/app/templates/login.html
Labels: CodeStyle, Fix

#27 LG-3: Register
  backend_api/__init__.py
  backend_api/app/applications/users/router.py
  frontend/Dockerfile
  frontend/app/backend_api1/api.py
  frontend/app/routers/router.py
  frontend/app/templates/components/base.html
  frontend/app/templates/login.html
  frontend/app/templates/register.html
Labels: enhancement, users, Fix, css

#29 Fourth-step: Blog
  frontend/app/routers/router.py
  frontend/app/templates/blog.html
  frontend/app/templates/components/navbar.html
  frontend/app/templates/login.html
  frontend/app/templates/personal_account.html
  frontend/dev-steps.md
Labels: enhancement

#30 Fix
  frontend/app/templates/components/main_page.html
Labels: Fix

#36 debugging registration with web interface
  .env-example
  backend_api/app/applications/users/router.py
  backend_api/app/settings.py
Labels: backend, debugging

#38 FP 1: Pages
  frontend/app/routers/router.py
  frontend/app/static/css/style.css
  frontend/app/templates/catalog.html
  frontend/app/templates/components/navbar.html
  frontend/app/templates/index.html
  frontend/app/templates/rent.html
  frontend/app/templates/second_owner.html
Labels: frontend, css

#39 Fix css
  frontend/app/routers/router.py
  frontend/app/static/css/style.css
  frontend/app/templates/catalog.html
  frontend/app/templates/components/navbar.html
  frontend/app/templates/index.html
  frontend/app/templates/rent.html
  frontend/app/templates/second_owner.html
Labels: Fix

#37 Frontend for products
  frontend/app/static/css/style.css
  frontend/app/templates/components/base.html
  frontend/app/templates/index.html
Labels: fastapi, endpoints, frontend, css

#41 BP 1: database for products
  backend_api/app/applications/products/models.py
  backend_api/app/migrations/env.py
  backend_api/app/migrations/versions/2025_06_27_1224-47de163c0f41_added_table_products.py
Labels: enhancement, postresql

#40 Backend for products: part 1
  backend_api/app/app_factory.py
  backend_api/app/applications/products/crud.py
  backend_api/app/applications/products/models.py
  backend_api/app/applications/products/router.py
  backend_api/app/applications/products/schemas.py
  backend_api/app/migrations/env.py
  backend_api/app/migrations/versions/2025_06_27_1435-9a93c3bcebd2_added_table_products.py
Labels: backend, products

#45 Frontend for products part 2
  backend_api/app/applications/new_buildings/crud.py
  backend_api/app/applications/new_buildings/router.py
  backend_api/app/applications/new_buildings/schemas.py
  backend_api/poetry.lock
  backend_api/pyproject.toml
  frontend/app/backend_api/api.py
  frontend/app/routers/router.py
  frontend/app/templates/sell_buildings.html
  notification_service/poetry.lock
  notification_service/pyproject.toml
Labels: enhancement, fastapi, basemodel, Fix, frontend, backend

#46 Added apartment count to the table
  backend_api/app/applications/new_buildings/crud.py
  backend_api/app/applications/new_buildings/models.py
  backend_api/app/applications/new_buildings/router.py
  backend_api/app/applications/new_buildings/schemas.py
  backend_api/app/migrations/versions/2025_06_27_1435-9a93c3bcebd2_added_table_products.py
  backend_api/app/migrations/versions/2025_06_29_1521-7afed28c0159_create_new_buildings_table.py
  backend_api/app/migrations/versions/2025_06_30_1722-ad31b5806897_create_new_buildings_table.py
Labels: fastapi, backend, new buildings
