Repository Artur92233/GraduationProjectGroup2, pull requests merged in 2025-05, with the labels that each got.

#1 first step of documentation
  .gitignore
  docker-compose.yaml
  documentation/docs/index.md
  documentation/docs/tasks.md
  documentation/mkdocs.yml
Labels: documentation, docker

#2 second step actions
  .flake8
  .github/workflows/linters.yaml
  hh.py
Labels: actions

#4 third step setup docker with dbeaver
  .env-example
  docker-compose.yaml
  hh.py
Labels: docker, postresql

#6 fifth step setup with fastapi
  backend_api/Dockerfile
  backend_api/README.md
  backend_api/app/main.py
  backend_api/poetry.lock
  backend_api/poetry.toml
  backend_api/pyproject.toml
  docker-compose.yaml
Labels: fastapi

#7 sixth step users endpoints
  backend_api/app/app_factory.py
  backend_api/app/applications/users/crud.py
  backend_api/app/applications/users/models.py
  backend_api/app/applications/users/router.py
  backend_api/app/applications/users/schemas.py
  backend_api/app/main.py
  docker-compose.yaml
Labels: docker, fastapi, endpoints, users

#9 seventh step basemodel
  backend_api/app/applications/users/router.py
  backend_api/app/applications/users/schemas.py
  backend_api/poetry.lock
  backend_api/pyproject.toml
  docker-compose.yaml
Labels: fastapi, basemodel

#8 eighth step settings
  backend_api/app/settings.py
Labels: settings

#11 Fix pyproject toml
  backend_api/poetry.lock
  backend_api/pyproject.toml
Labels: Fix

#12 bug fixes with packages
  .env-example
  backend_api/Dockerfile
  backend_api/app/applications/users/router.py
  backend_api/app/applications/users/schemas.py
  backend_api/poetry.lock
  backend_api/poetry.toml
  backend_api/pyproject.toml
  docker-compose.yaml
Labels: docker, postresql, Fix

#13 Addition new package
  backend_api/poetry.lock
  backend_api/pyproject.toml
Labels: Fix, Package

#15 FD 1: Prepare
  Makefile
  docker-compose.yaml
  frontend/Dockerfile
  frontend/app/app_factory.py
  frontend/app/main.py
  frontend/app/scripts/search.js
  frontend/app/settings.py
  frontend/dev-steps.md
  frontend/index.html
  frontend/poetry.lock
  frontend/poetry.toml
  frontend/pyproject.toml
  nginx/nginx.conf
Labels: docker, fastapi, settings

#19 Personal-account-create
  .env-example
  backend_api/Dockerfile
  backend_api/app/app_factory.py
  backend_api/app/applications/auth/auth_handler.py
  backend_api/app/applications/auth/password_handler.py
  backend_api/app/applications/auth/router.py
  backend_api/app/applications/auth/security.py
  backend_api/app/applications/users/crud.py
  backend_api/app/applications/users/models.py
  backend_api/app/applications/users/router.py
  backend_api/app/applications/users/schemas.py
  backend_api/app/database/base_models.py
  backend_api/app/database/session_dependencies.py
  backend_api/app/migrations/env.py
  backend_api/app/settings.py
  backend_api/poetry.lock
  backend_api/pyproject.toml
  docker-compose.yaml
Labels: postresql, fastapi, endpoints, users

#16 Debugging
  backend_api/app/applications/users/schemas.py
  backend_api/app/migrations/versions/2025_05_30_1317-128892436c32_add_user_table.py
  backend_api/poetry.lock
  backend_api/pyproject.toml
Labels: bug
